<!DOCTYPE html>
<html lang="en">
{% extends 'Preschool_Play/SubPage.html' %}
<head>
    <meta charset="UTF-8">
    <title>Filter Suspension</title>
</head>
<body>
{% block title %}
<h1>Suspend users:</h1>
{% endblock %}
{% block data %}

    {% for user in suspend_user %}
        {{ user }} {{ user.suspension_time }} <br>
    {% endfor %}
    <h1>Suspend children:</h1>
    {% for c in suspended_children %}
        {{ c }} {{ c.suspension_time }} <br>
    {% endfor %}
{% endblock %}
</body>
</html>