<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preschool Play</title>
</head>
<body>
<h1>Home Page</h1>
     {% if user.is_authenticated %}
    {% if message %}
        {% for m in message %}
            <script>
                alert('{{m.message}}')
            </script>
        {% endfor %}
    {% endif %}
    {% if profile.is_admin %}
            <li><a href="{% url 'Preschool_Play:add-media' %}" >Add Media</a><br>
			<li><a href="{% url 'Preschool_Play:delete-media' %}">Delete Media</a><br>

    {% endif %}

    {% if profile.type == 'parent' %}
        <li><a href="{% url 'Preschool_Play:parent' %}">My Children</a><br>
        <li><a href="{% url 'Preschool_Play:create-child' %}">Add Child</a><br>
         <li><a href="{% url 'Preschool_Play:delete-user' %}">Delete Child</a><br>
        <li><a href="{% url 'Preschool_Play:delete-primary-user' %}">Delete Primary User</a><br>
    {% endif %}
    {% if profile.type == 'teacher' %}
        <li><a href="{% url 'Preschool_Play:upload' %}">Upload Video</a><br>
        <li><a href="{% url 'Preschool_Play:approve-student' %}">Approve Student</a><br>
    {% endif %}
    <li><a href="{% url 'Preschool_Play:score-graphs' %}">Score Graphs</a><br>
    <li><a href="{% url 'Preschool_Play:message-board' %}">Message Board</a><br>
    <li><a href="{% url 'Preschool_Play:inbox' %}">Inbox{% if unread %}({{unread}}){% endif %}</a><br>
    <li><a href="{% url 'Preschool_Play:view-FAQ' %}">FAQ</a><br>
    <li><a href="{% url 'Preschool_Play:logout' %}">Logout</a><br>

    {% endif %}
    {% if not user.is_authenticated %}
        <li><a href="{% url 'Preschool_Play:login' %}">Sign-In</a><br>
        <li><a href="{% url 'Preschool_Play:new-user' %}">Sign-Up</a><br>
    {% endif %}
</body>
</html>