<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher notes</title>
</head>
<body>
    Order by:<br>
    <a href="{% url 'Preschool_Play:notes' '-date' %}"class="button alt small">Date</a>
    <a href="{% url 'Preschool_Play:notes' 'subject' %}"class="button alt small">Subject</a>
    <ol>
        {% for note in notes %}
        <li>
            {{note}}
            <a href="{% url 'Preschool_Play:view-note' note.id %}"class="button alt small">Open</a>
            <a href="{% url 'Preschool_Play:delete-note' note.id %}"class="button alt small">Delete</a>
        </li>
        {% empty %}
        <p>No notes available.</p>
        {% endfor %}
    </ol>
</body>
</html>