<!DOCTYPE html>
<html lang="en">
{% extends 'Preschool_Play/SubPage.html' %}
<head>
    <meta charset="UTF-8">
    <title>Parent Page</title>
</head>
<body>
{% block title %}
<h1>Parent Page {{user.username}} </h1>
{% endblock %}


{% block data %}
    <h1><u>Your Children: </u></h1>
    <div class="row">
        {% for ch in children %}
        <div class="col">


            <div class="card" style="width: 18rem;">
                    <img  class="card-img-top" src="https://digitalpedagogydotwordpressdotcom.files.wordpress.com/2019/09/google_contacts_logo.png?w=640" width="150" height="150" alt="Card image" >
                    <div class="card-body">
                    <h5 class="card-title">{{ ch.name }}</h5>
                    <a href="{% url 'Preschool_Play:child-area' ch.name %}" class="btn btn-primary">Private Area</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

</body>
</html>