<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score Graphs</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
</head>
<body>
    <h1>Score Graphs for {{child.name}}</h1>
    <canvas id="myChart" width="300" height="100"></canvas>
    <script>
        var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for date in scoreData %}
        '{{date.d}}/{{date.m}}/{{date.y}}',
        {% endfor %}],
        datasets: [{
            label: 'Daily sum of child/ren scores',
            data: [{% for date in scoreData %}
        {{date.amount__sum}},
        {% endfor %}],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
            fill: false
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
    </script>
</body>
</html>
