<!DOCTYPE html>
<html lang="en">
{% extends 'Preschool_Play/SubPage.html' %}
<head>
    <meta charset="UTF-8">
    <title>Suspend user</title>
</head>
<body>
{% block title %}
<h1>Users and Suspension</h1>
{% endblock %}
{% block data %}
<h1><u><b>Users:</b></u></h1>
    {% for u in users %}
    <tr>
        <td>{{ u.user }}</td>
        <br>
    </tr>
    {% endfor %}


<h1><u><b>Suspend users:</b></u></h1>

    {% for u in suspend_user %}
    <tr>
        <td>{{ u.user }}</td>
        <td>{{ u.suspension_time }}</td>
        <br>
    </tr>
    {% endfor %}
{% endblock %}
</body>
</html>